.page {
    min-height: calc(100vh - 8rem);
    padding: 6rem 1rem 2rem;
    background: #000;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.title {
    font-size: 2rem;
    font-weight: 800;
    color: white;
    margin-bottom: 2rem;
    text-align: center;
}